<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>690466057031-h1jf7lsjb1pv93h3mm7m81fn1qr8uvn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690466057031-h1jf7lsjb1pv93h3mm7m81fn1qr8uvn8</string>
	<key>GCM_SENDER_ID</key>
	<string>690466057031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.task-burner</string>
	<key>PROJECT_ID</key>
	<string>task-burner-be22a</string>
	<key>STORAGE_BUCKET</key>
	<string>task-burner-be22a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:690466057031:ios:1b1d340c6d5b7cae</string>
	<key>DATABASE_URL</key>
	<string>https://task-burner-be22a.firebaseio.com</string>
</dict>
</plist>